@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Varela+Round&display=swap");

* {
  font-family: "Dosis",sans-serif;
}

.navbar {
  background: radial-gradient(circle, rgba(36,58,255,1) 0%, rgba(34,34,34,1) 90%);
}

#mainBackground {
  background: radial-gradient(circle, rgba(36,58,255,1) 27%, rgba(34,34,34,1) 75%);
}

.btnCustom {
  padding: 5px 20px ;
  border-radius: 10px;
  /* outline: 1px solid rgb(46, 71, 200); */
  outline: none;
  color: rgb(60, 60, 60);
  transition: 0.4s;
}

.btnCustom:hover {
  /* outline: 1px solid white; */
  outline: none;
  color: white;
  background-color: rgba(36,58,255,1);
}

.btnCustom:active {
  /* outline: 1px solid white; */
  outline: none;
  color: white;
  background-color: rgba(36,58,255,1);
}

.bgTask {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: rgb(225, 225, 225);
}

/* container animation */

.containerAnimation {
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* Animated */

.loader-wrapper {
  display : flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.loader {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(0, 0, 0, 0.6);
  border-top-color: black;
  border-bottom-color: white;
  border-radius: 50%;
  animation: rotate 8s linear infinite;
}

.loader-inner1, .loader-inner2, .loader-inner3 {
  border-top-color: black;
  border-bottom-color: white;
}

.loader-inner1{
  animation-duration: 7s;
}
.loader-inner2{
  animation-duration: 6s;
}
.loader-inner3{
  animation-duration: 5s;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

/* animated img */

.img-wrapper {
  max-width: 200px;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  border-radius: 50%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
}

.img-wrapper::before {
  content: "";
  position: absolute;
  inset: -20px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-top-color: white;
  border-bottom-color: black;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
